<a mat-raised-button color="primary" routerLink="/users" routerLinkActive="mat-accent">
  <mat-icon>view_list</mat-icon>
  <span>משתמשים</span>
  <mat-icon>arrow_back_ios</mat-icon>
</a>
<a mat-raised-button color="primary" routerLink="/photos" routerLinkActive="mat-accent">
  <mat-icon>image_search</mat-icon>
  <span>תמונות</span>
  <mat-icon>arrow_back_ios</mat-icon>
</a>
<a mat-raised-button color="primary" routerLink="/rebate" routerLinkActive="mat-accent">
  <mat-icon>cottage</mat-icon>
  <span>הנחה בארנונה</span>
  <mat-icon>arrow_back_ios</mat-icon>
</a>
<a mat-raised-button color="primary" routerLink="/sign-in" routerLinkActive="mat-accent">
  <mat-icon>login</mat-icon>
  <span>התחבר</span>
  <mat-icon>arrow_back_ios</mat-icon>
</a>
<a mat-raised-button color="primary" routerLink="/register-user" routerLinkActive="mat-accent">
  <mat-icon>person_add</mat-icon>
  <span>צור חשבון</span>
  <mat-icon>arrow_back_ios</mat-icon>
</a>
<a mat-raised-button color="primary" routerLink="/forgot-password" routerLinkActive="mat-accent">
  <mat-icon>password</mat-icon>
  <span>שכחת סיסמה</span>
  <mat-icon>arrow_back_ios</mat-icon>
</a>
