mat-card {
  max-width: 300px;
  margin: 2em auto;
  text-align: center;
  padding: 1em 2em 3em 2em;
}

mat-form-field {
  display: block;
}
mat-icon.lock-xl{
  font-size: 80px;
  width: 80px;
}
button {
    width: 100%;
}

.redirectToLogin {
  float: right;
  width: 100%;
}
