<mat-card>
  <mat-card-content>

    <h2>שכחת את הסיסמה?</h2>
    <mat-icon class="lock-xl">lock</mat-icon>
    <h4>אתה יכול לאפס את הסיסמה שלך כאן.</h4>
    <mat-form-field  appearance="outline" class="full-width-input">
      <mat-label>דוא''ל</mat-label>
      <input matInput placeholder="דוא''ל" #passwordResetEmail type="email" required>
      <mat-error *ngIf="passwordResetEmail.errors?.required" align="end">שדה חובה.</mat-error>
      <mat-error *ngIf="passwordResetEmail.errors?.email" align="end">אימייל זה לא תיקני.</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <button mat-raised-button [disabled]="passwordResetEmail.invalid" color="primary"
    (click)="forgotPassword(passwordResetEmail.value)">שלח איפוס סיסמה לדוא"ל</button>

    <br>
    <br>
    <br>

    <div class="redirectToLogin">
        <span>רוצה לנסות שוב? <a class="redirect" routerLink="/sign-in">התחבר</a></span>
    </div>

  </mat-card-content>
</mat-card>
