h1 {
  text-align: center;
  font-weight: bold;
}

.search {
  display: grid;
  margin: 20px;
}
mat-form-field.center-form-field {
  // margin: 0 auto;
  // text-align: center;
  @media (max-width: 768px) {
    padding-top: 40px;
    display: block;
  }
}
.photo-list {
  display: flex;
  flex-wrap: wrap;
}
.photo-item {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 16%;

  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 920px) {
  .photo-item {
    flex: 1 21%;
  }

  .photo-list .photo-item:first-child,
  .photo-list .photo-item:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .photo-item {
    flex: 1 46%;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
